
<style>
.social [class*="fab fa-"] {
    background-color: #ffffff;
    border-radius: 60px;
    color: #fff;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin: auto 2px;
    width: 60px;
    text-align: center;
}
.social [class*="fas fa-"] {
    background-color: #ffffff;
    border-radius: 60px;
    color: #fff;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin: auto 2px;
    width: 60px;
    text-align: center;
}
 </style>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-4487378394699907"
     data-ad-slot="5482678588"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-{{ page.color | default: 'deep-orange' }}">
      <h3 class="w3-center"> Find Me on Social Media</h3>
    <div class="social w3-center">
      {% for x in site.data.social %}
        <a target="_blank" href="{{ x.link }}">
        <i class="{{ x.icon }} fa-2x" style="color:{{ x.color }}"></i></a>
      {% endfor %}
      <br />&copy; {{ site.time | date: "%Y" }} {{ site.Title }}
    </div>
</footer>
